{% extends 'base.html' %}

{% block title %}
Tracker
{% endblock title %}

{% block content %}
<div class="container text-white position-relative z-1 vh-100 d-flex justify-content-center align-items-center">
  <div class="habit-name display-6">{{ habit.name }}</div>

  <!-- Контейнер для количества дней -->
  <div class="days-count">
    <h1 class="display-1">{{ days }}</h1>
    <div class="days-text display-6">Days</div>
  </div>


  <!-- Контейнер для точек (количество привычек) -->

  <div class="habit-container">
    {% for other_habit in other_habits %}
        <a href="{% url 'habits:habit_detail' other_habit.user.username other_habit.habit_id %}">
            <div class="habit-point {% if other_habit.habit_id == current_habit_id %}active{% endif %}"></div>
        </a>
    {% endfor %}
    <a href="{% url 'habits:create' %}">
      <div class="habit-plus">
          +
      </div>
    </a>
  </div>
</div>



<!-- Иконки профиля и выхода из аккаунта -->
<div class="bottom-right-icons">

  <div class="icon">
    <a href="{% url 'users:user_profile'  username=object.user.username %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
          viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
        </svg>
    </a>
  </div>

  <div class="icon">
    <a href="{% url 'habits:reset' habit_id=habit.habit_id %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
        </svg>
    </a>
  </div>

  <div class="icon">
    <a href="{% url 'habits:delete' habit_id=habit.habit_id %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
      </svg>
    </a>
  </div>

  <!-- Форма для выхода -->
  <div class="icon">
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="buttonlogout">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-right"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
          <path fill-rule="evenodd"
            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
        </svg>
      </button>
    </form>
  </div>
</div>



<div class="date-time">
  <span id="current-time display-6">{{ today }}</span>
</div>
{% endblock content %}